
.rec-main-cont {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.rec-inner-cont {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  box-shadow: 0 4px 28px rgba(57,67,183,0.10);
}

.heading-rec-cont {
  background-color: #4d71d4;
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
}

.table-top {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.header-btn {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  cursor: pointer;
}

.add-job-btn {
  border-radius: 4px;
  border: none;
  background-color: #4d71d4;
  color: white;
  padding: 4px;
  cursor: pointer;
}

.table-row-rec:hover {
  cursor: pointer;
  background-color: #515bb327;
}


.table-job-desc {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-pref-btn {
  margin-right: 10px;
  padding: 5px;
  border: 2px solid #4d71d4;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.delete-btn {
  background-color: white;
  border: solid 2px #4BA3C3;
  padding: 5px;
  cursor: pointer;
}

/* Modal css */
.modal-main-cont {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 100; */
}

.modal-inner-cont {
  background-color: white;
  border-radius: 8px;
  height: auto;
  width: 400px;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  /* display: flex;
  flex-direction: column; 
  align-items: center; */
  /* justify-content: flex-end; */
}

.modal-header, .add-job-form, .add-job-field{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.modal-header {
  background-color: #4d71d4;
  color: white;
  padding: 20px 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 10px;
}

.add-job-field {
  margin-bottom: 10px;
  width: 350px;
}

.add-job-field input, .add-job-field textarea {
  padding: 5px;
  margin: 15px 0;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
}

.add-job-field input {
  font-weight: bold;
}

.add-job-field textarea {
  border: 2px solid black;
  resize: none;
}

.modal-action-btn {
  display: flex;
  justify-content: flex-end;
}

.save-job-btn, .cancel-btn {
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 8px;
}

.save-job-btn {
  background-color: #4d71d4;
  color: white;
  border: none;
  border-radius: 4px;
}

.cancel-btn {
  background-color: white;
  border: solid 2px #4d71d4;
  border-radius: 4px;
}