
.jobpost-main-cont {
  display: flex;
  flex-direction: column;
  margin: 10px 200px;
}

.jobpost-inner-cont {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  box-shadow: 0 4px 28px rgba(57,67,183,0.10);
}

.jobpost-header {
  background-color: #4d71d4;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 2rem;
  margin: 0 auto;
  padding: 20px 40px;
  width: 100%;
}

.jobpost-header p {
  font-size: 1rem;
}

.jobpost-body {
  padding: 20px 40px;
}

.jobpost-desc {
  margin: 20px 0;
}

.jobpost-action-btn {
  display: flex;
  justify-content: flex-end;
}