
.main-pref-cont {
  display: flex;
  justify-content: center;
  width: 100%;
}

.inner-pref-cont {
  background-color: white;
  width: 100%;
  height: auto;
}

.header-pref-cont {
  background-color: #4d71d4;
  color: white;
  padding: 20px 40px;
}

.middle-pref-cont {
  margin: 10px 40px;
  display: flex;
  gap: 20px;
}

.middle-pref-header {
  margin: 28px 0 4px;
  font-size: 1rem;
  border-bottom: 1px solid #4d71d44d;
  padding-bottom: 6px;
}

.middle-pref-header p, .final-score-cont p {
  font-size: 0.8rem;
  margin: 0 0 10px;
  color: gray;
}

.left-pref-cont, .right-pref-cont {
  flex: 1;
}

.pref-body {
  margin: 16px;
  border-left: 3px solid rgba(0, 0, 0, 0.185);
  padding-left: 12px;
  margin-top: 8px;
}

.presentation-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin: 8px 0 4px;
}

.save-pref{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.save-pref button {
  background-color: #4d71d4;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px;
  margin: 20px 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}